<div class="container">
  <div class="row">
    <h1> Bootstrap Test</h1>
    <div class="col-sm-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu sapien non quam tempus interdum vitae eu magna. Phasellus maximus nunc ex, vitae mollis magna porttitor eu. Aliquam in porttitor sapien. Aliquam non eros molestie, ultrices neque non, gravida arcu. Quisque sagittis interdum maximus. In ut pellentesque nunc. Sed luctus leo erat, vitae sodales lorem sodales eget. Mauris commodo luctus fringilla. Curabitur tortor nisi, molestie quis tincidunt at, efficitur ut ipsum. Sed arcu eros, pretium vel posuere vitae, vulputate sit amet nulla. Donec facilisis quam quis ullamcorper sagittis. Quisque sagittis interdum condimentum. Vestibulum porta nibh sit amet nulla vulputate vestibulum. Cras tempor laoreet tristique. Phasellus sed libero leo.
      </p>
    </div>

    <div class="col-sm-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu sapien non quam tempus interdum vitae eu magna. Phasellus maximus nunc ex, vitae mollis magna porttitor eu. Aliquam in porttitor sapien. Aliquam non eros molestie, ultrices neque non, gravida arcu. Quisque sagittis interdum maximus. In ut pellentesque nunc. Sed luctus leo erat, vitae sodales lorem sodales eget. Mauris commodo luctus fringilla. Curabitur tortor nisi, molestie quis tincidunt at, efficitur ut ipsum. Sed arcu eros, pretium vel posuere vitae, vulputate sit amet nulla. Donec facilisis quam quis ullamcorper sagittis. Quisque sagittis interdum condimentum. Vestibulum porta nibh sit amet nulla vulputate vestibulum. Cras tempor laoreet tristique. Phasellus sed libero leo.
      </p>
    </div>
  </div>
</div>
