<div class="page-header">
  <h1>Editing Recipe</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= render 'form', recipe: @recipe %>
    </div>
  </div>
</div>


<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
