




<h2>Details</h2>
<p>Write detailed instructions for your recipe here!</p>

<h1>Create your own recipe!</h1>
<p>Record your masterpiece here for all the world to see! Start out with a basic description...</p

<form_tag do>
<%= text_area_tag(:brief, "Write a short description here!", size: "96x36") %>


<%= text_area_tag(:details, "Write your detailed recipe here!", size: "96x36") %>
<%= button_to "Submit!", action: "success" %>
</form>

<p>Find me in app/views/recipes/success.html.erb</p>
