<<<<<<< HEAD
<h1>Recipes#success</h1>
<p>Find me in app/views/recipes/success.html.erb</p>
=======
<h1> Recipe creation successful! </h1>

<p> This page should show formatted information based on the users recipe.</p>
<p> What they submitted in the form should be added to a new database item </p>
<p> which will be echoed here </p>
>>>>>>> features/recipes
