<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Hi, <%= @user.user_name %>!</h1>
    <p>This is the newsletter from MasterChef.<br><br>
    We have updated MasterChef website to match your desire better.<br>
    Please take a moment to visit our website.<br>
    We hope you enjoy the new features.<br>
    </p>
    <p>Happy Cooking!</p>
    <p>Best,<br>
      The MasterChef Team
    </p>
  </body>
</html>
