<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Hi, <%= @user.user_name %>!</h1>
    <p>This is the weekly newsletter from MasterChef.<br>
      Happy Cooking!<br><br>

    <%= @recipe.recipe_name %><br>
    <%= @recipe.instructions %><br>
    <%= @recipe.image %><br>
    </p>
    <p>Have a great day!</p>
    <p>Best,<br>
      The MasterChef Team
    </p>
  </body>
</html>
