<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Sign-in attempts!</h1>
    <p>Hi <%= @user.user_name %>,</p>
    <p>Your MasterChef account sign-in action has failed!
      If it wasn't you, please visit the website and change your password immediately!</p>
    <br>
    <p>Best,<br>
      The MasterChef team
    </p>
  </body>
</html>
