<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Failed Sign-In Attempts!</h1>
    <p>Hi <%= @user.user_name %>,</p>
    <p>Your MasterChef account sign-in action has failed!<br>
      If it wasn't you, please visit our website and change your password immediately!</p>
    <p>If it was you, please discard this notice.<br>
      Thanks,</p>
    <p>
      The MasterChef team
    </p>
  </body>
</html>
