<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Welcome to MasterChef, <%= @user.user_name %>!</h1>
    <p>Thanks for joining MasterChef, we hope you will find the awsome recipes
       you like and please share you secret recipes!
    </p>
    <p>Thanks for joining and have a great day!</p>
    <br>
    <p>Best,<br>
      The MasterChef team
    </p>
  </body>
</html>
