<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>Thanks for joining MasterChef, we hope you will find the awsome recipes you like and please share you secret recipes!</p>
  </body>
</html>
  
