<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Welcome to MasterChef, <%= @user.user_name %>!</h1>
    <p>Thanks for joining MasterChef.<br>
      We hope you will find the awsome recipes here and please do share you secret recipes to enlight others!<br><br>
      To login to the site, just go to the following link:<br>
      <%= @url %>
    </p>
    <p>Have a great day!</p>
    <p>Best,<br>
      The MasterChef Team
    </p>
  </body>
</html>
