<!DOCTYPE html>
<html>
  <head>
    <title>Editing <%= @user.user_name %></title>
  </head>

  <body>
    <div class="container" id="big_container">
      <div class="page-header">
        <% if session[:omniauth] %>
          <h1>Register via <%= session[:omniauth]["provider"] %></h1>
          <% else %>
          <h1>Register</h1>
        <% end %>
      </div>

      <div class="col-lg-offset-3 col-lg-6">
        <%= render 'form', user: @user %>
      </div>
		</div>
  </body>
</html>
