<% if !flash[:loginmessage].blank? %>
    <div class="container">
      <div class="alert alert-warning alert-dismissable">
        <strong><%= flash[:loginmessage]%></strong>
      </div>
    </div>
<% end %>

<% if !flash[:sign_out_message].blank? %>
    <div class="container">
      <div class="alert alert-warning alert-dismissable">
        <strong><%= flash[:sign_out_message]%></strong>
      </div>
    </div>
<% end %>

<div class="container">
  <div class="jumbotron">
    <h1> Welcome To MasterChef</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse arcu mi, dapibus eu leo eget, ullamcorper malesuada lorem. Aliquam ut dui euismod, placerat risus non, porta nunc. Phasellus ante quam, pellentesque id sem sit amet, convallis fermentum justo. Etiam eleifend, urna ut pretium malesuada, mi tortor accumsan leo, ac vulputate mi nulla et eros. In hac habitasse platea dictumst. Aenean feugiat laoreet metus ut elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ut congue lectus. Donec ultricies, diam ac pellentesque auctor, turpis dolor ullamcorper tortor, eget iaculis lacus metus ac enim. Suspendisse potenti. Phasellus nec risus nec libero pharetra dapibus eu eget nulla. Fusce rhoncus erat nec tempor aliquam. Proin quam justo, sollicitudin eget molestie vel, pretium ut urna. Duis eget egestas libero, vitae malesuada elit. Nam auctor, turpis eu pretium rutrum, sapien sem suscipit dui, a sodales quam dolor sed odio.</p>
    </div>
  </div>
</div>


