<div class="page-header">
  <h1>New Tag</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'form', tag: @tag %>
    </div>
  </div>

  <%= link_to 'Back', tags_path, {class: 'btn btn-default'} %>
</div>



